<!DOCTYPE html>
<html lang="en">
 
<head><meta charset="UTF-8">
    <title>Visualizing popularity in Tweets</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<style>
.mapcontainer{
	padding-right:15px;
	padding-left:15px;
	width:1024px;
	margin-right:auto;
	margin-left:auto;
}
#map 
        {
            width: 1024px;
            height: 720px;
        }
		
	svg
	{
		width:auto;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	#SVGdiv{
		height:auto;
		width:100%;
		margin-top:30px;
	}	
	
	
	.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px; 
  border-radius: 8px; 
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}
/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #FF8C00;
  fill: #FF8C00;
}

		</style>
</head>
 
<body>
 
    <div class="mapcontainer">
        <div class="header">
            <h1><center> Visualizing popularity in Tweets </center></h1>
            <h2><center> Avalanches on a specific subject </center></h2>
        </div>
 <form method="post" action="query"><label for="query">Please enter a query:</label><input type="text" name="query" /><input type="submit" />
 
 Current query: <!--Current query-->
        <div class="row">
            <div class="col-md-10">
                <div id="map"></div>
				
                <script>
                    function initMap() 
                    {
                        var mapDiv = document.getElementById('map');
                        var map = new google.maps.Map(mapDiv, 
                        {
                            center: {lat: 43.761539, lng: -79.411079},
                            zoom: 2
                        });
                        var timestampArray = [];
						
						
						
                        // place_markers_here
						
						console.log("Timestamp new: " + timestampArray);
						console.log("Timestamp 0: " + timestampArray[0]);
						console.log("Timestamp 1: " + timestampArray[1]);
						console.log("Timestamp 00: " + timestampArray[0][0]);
						console.log("Timestamp 01: " + timestampArray[0][1]);
						// data that you want to plot, I've used separate arrays for x and y values
            //var xdata = [14574467890001, 14575467890001, 14574667890001, 14574767890001],
            //Timestamp: "Tue Mar 08 14:19:49 +0000 2016"
			
			orderedDates = timestampArray.sort(function(a,b){
			return Date.parse(a) > Date.parse(b);
			});
			console.log("Ordered dates: "+ orderedDates)
			var xdata = [];
			for(i=0;i<orderedDates.length;i++){
				xdata.push(orderedDates[i][0]);
			}
			
			console.log("xdata :"+xdata);
			
			var ydata = [];
			for(i=0;i<xdata.length;i++){
				ydata.push(5);
			}
			
            // size and margins for the chart
            var margin = {top: 20, right: 15, bottom: 60, left: 60}
              , width = 1024 - margin.left - margin.right
              , height = 150 - margin.top - margin.bottom;

            // x and y scales, I've used linear here but there are other options
            // the scales translate data values to pixel values for you
            var maxDate = xdata[0];
            var minDate = xdata[xdata.length-1];
            var x = d3.time.scale().domain([minDate, maxDate]).range([0, width]);
                    // the pixel range of the x-axis

            var y = d3.scale.linear()
                      .domain([0, d3.max(ydata)*2])
                      .range([ 0, height ]);

            // the chart object, includes all margins
            var chart = d3.select('#SVGdiv')
            .append('svg:svg')
            .attr('width', width + margin.right + margin.left)
            .attr('height', height + margin.top + margin.bottom)
            .attr('class', 'chart')
			.attr("align","center");

            // the main object where the chart and axis will be drawn
            var main = chart.append('g')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
            .attr('width', width)
            .attr('height', height)
            .attr('class', 'main').attr("align","center");   

            // draw the x axis
            var xAxis = d3.svg.axis()
            .scale(x)
            .orient('bottom');

            main.append('g')
            .attr('transform', 'translate(0,' + height + ')')
            .attr('class', 'main axis date')
            .call(xAxis).selectAll("text")
            .attr("y", 0)
            .attr("x", 9)
            .attr("dy", ".35em")
            .attr("transform", "rotate(90)")
            .style("text-anchor", "start");


            // draw the y axis
            var yAxis = d3.svg.axis().tickFormat(function (d) { return ''; })
            .scale(y)
            .orient('left');
	
	//Tipbox
    var tip = d3.tip()
        .attr('class', 'd3-tip')
        .offset([-10, 0])
        .html(function(d,i) { return "<strong>Location:</strong> " + orderedDates[i][1] + "<br/><strong>Time:</strong> "+ xdata[i]; });
		
    chart.call(tip);
	
            // main.append('g')
            // .attr('transform', 'translate(0,6)')
            // .attr('class', 'main axis date')
            // .call(yAxis);

            // draw the graph object
            var g = main.append("svg:g"); 

            g.selectAll("scatter-dots")
              .data(ydata)  // using the values in the ydata array
              .enter().append("svg:circle")  // create a new circle for each value
          .attr("cy", function (d) { return y(d); } ) // translate y value to a pixel
          .attr("cx", function (d,i) { return x(xdata[i]); } ) // translate x value
          .attr("r", 4) // radius of circle
          .attr("class", "dot")
          .style("opacity", 0.5) // opacity of circle
			.on('mouseover', tip.show)
			.on('mouseout', tip.hide)

			
		  
		  
		  
		  ; 
		  

                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
                
            </div>
            
            <div class="col-md-2">

            </div>
        </div>
		
 
 
    </div>
		<div id="SVGwrapper"><div id="SVGdiv" align="center"></div></div>
        <footer class="footer">
            <p>&copy; Group 21 - The Social Web 2016</p>
        </footer>
</body>
 
</html>