<!DOCTYPE html>
<html lang="en">
 
<head><meta charset="UTF-8">
    <title>Comparing popularity in Tweets</title>
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
#map 
        {
            width: 700px;
            height: 500px;
        }
		
	svg
	{
		width:auto;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	#SVGdiv{
		height:auto;
		width:100%;
	}	
		</style>
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h1><center> Comparing popularity in tweets on the same news subject in different countries </center></h1>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div id="map"></div>

                <script>
                    function initMap() 
                    {
                        var mapDiv = document.getElementById('map');
                        var map = new google.maps.Map(mapDiv, 
                        {
                            center: {lat: 42.4733689, lng: -83.221873},
                            zoom: 8
                        });
                        
                        // place_markers_here
						// data that you want to plot, I've used separate arrays for x and y values
            //var xdata = [14574467890001, 14575467890001, 14574667890001, 14574767890001],
            //Timestamp: "Tue Mar 08 14:19:49 +0000 2016"
            var timestampArray = [];
			
			// place_scatterplot_here
			orderedDates = timestampArray.sort(function(a,b){
			return Date.parse(a) > Date.parse(b);
			});
			console.log("Ordered dates: " + orderedDates);
			
			var xdata = orderedDates;
			
			var ydata = [];
			for(i=0;i<xdata.length;i++){
				ydata.push(5);
			}
			
            // size and margins for the chart
            var margin = {top: 20, right: 15, bottom: 60, left: 60}
              , width = 1024 - margin.left - margin.right
              , height = 150 - margin.top - margin.bottom;

            // x and y scales, I've used linear here but there are other options
            // the scales translate data values to pixel values for you
            var minDate = xdata[0];
            var maxDate = xdata[xdata.length-1];
            var x = d3.time.scale().domain([minDate, maxDate]).range([0, width]);
                    // the pixel range of the x-axis

            var y = d3.scale.linear()
                      .domain([0, d3.max(ydata)*2])
                      .range([ height, 0 ]);

            // the chart object, includes all margins
            var chart = d3.select('#SVGdiv')
            .append('svg:svg')
            .attr('width', width + margin.right + margin.left)
            .attr('height', height + margin.top + margin.bottom)
            .attr('class', 'chart')

            // the main object where the chart and axis will be drawn
            var main = chart.append('g')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')
            .attr('width', width)
            .attr('height', height)
            .attr('class', 'main')   

            // draw the x axis
            var xAxis = d3.svg.axis()
            .scale(x)
            .orient('bottom');

            main.append('g')
            .attr('transform', 'translate(0,' + height + ')')
            .attr('class', 'main axis date')
            .call(xAxis);

            // draw the y axis
            var yAxis = d3.svg.axis().tickFormat(function (d) { return ''; })
            .scale(y)
            .orient('left');

            main.append('g')
            .attr('transform', 'translate(0,0)')
            .attr('class', 'main axis date')
            .call(yAxis);

            // draw the graph object
            var g = main.append("svg:g"); 

            g.selectAll("scatter-dots")
              .data(ydata)  // using the values in the ydata array
              .enter().append("svg:circle")  // create a new circle for each value
          .attr("cy", function (d) { return y(d); } ) // translate y value to a pixel
          .attr("cx", function (d,i) { return x(xdata[i]); } ) // translate x value
          .attr("r", 5) // radius of circle
          .style("opacity", 0.5); // opacity of circle
		  

                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
                
            </div>
            
            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose a topic
                        <span class="caret"></span>
                    </button>
    
                    <ul class="dropdown-menu">
                        <li><a href="#">#AttacksInParis</a></li>
                        <li><a href="#">#AttacksInTurkey</a></li>
                        <li><a href="#">#mornForParis</a></li>
                        <li><a href="#">#mornForTurkey</a></li>
                    </ul>
                </div>

            </div>
        </div>
		
 
 
    </div>
		<div id="SVGwrapper"><div id="SVGdiv"></div></div>
        <footer class="footer">
            <p>&copy; Group 21 - The Social Web 2016</p>
        </footer>
</body>
 
</html>